body{ 
  background-image:url (" img/descarga.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(14, 46, 230);
  text-align: center;
  margin-top:20%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cuenta{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.caja{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 5px;
}

.footer {
  grid-area: footer;
   color: rgb(14, 46, 230);
  


